rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{gameId} {
      allow read, create, update: if gameId.size() >= 20;
      match /players/{playerId} {
        allow read, create, update: if gameId.size() >= 20;
      }
      match /rounds/{roundId} {
        allow read, create, update: if gameId.size() >= 20;
      }
    }
  }
}
